.background {
    background-color: #fafafa
}

.green {
    color: #3c763d !important;
}

.red {
    color: #a94442 !important;
}

.blue {
    color: #337ab7;
}

.orange {
    color: #f0ad4e;
}

.gray {
    color: #aaaaaa;
}

.dark-gray {
    color: #666666;
}

.white {
    color: #ffffff;
}

.full-width {
    width: 100%;
}

.text-left {
    text-align: left;
}

.back-blue {
    background-color: #3F51B5;
}

.online {
    color: green !important;
}

.offline {
    color: red !important;
}