.green {
    color: #3c763d;
}

.red {
    color: #a94442;
}

.blue {
    color: #337ab7;
}

.orange {
    color: #f0ad4e;
}

.gray {
    color: #aaaaaa;
}

.dark-gray {
    color: #666666;
}

.full-width {
    width: 100%;
}

.text-left {
    text-align: left;
}