<!DOCTYPE html>
<html ng-app="zuhause" ng-cloak lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#283593"/>

        <title>Zuhause</title>

        <link rel="stylesheet" href="css/angular-material.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/app.css" crossorigin="anonymous" />

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/chart.bundle.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-cookies.min.js"></script>
        <script src="js/angular-messages.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/angular-material.min.js"></script>
        <script src="js/angular-locale_pt-br.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/route.js"></script>

        <script src="scripts/controllers/index.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/tower.js"></script>
        <script src="scripts/controllers/wifi.js"></script>
        <script src="scripts/controllers/device.js"></script>
        <script src="scripts/controllers/temperature.js"></script>
    </head>

    <body ng-controller="IndexController" class="background">

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                    <md-icon md-svg-icon="img/icons/ic_close_24px.svg"></md-icon>
                </md-button>
                <h2 flex md-truncate>Menu</h2>
            </div>
        </md-toolbar>

        <md-content layout-padding>
            <md-grid-list
                md-cols-xs="1" md-cols-sm="1" md-cols-md="4" md-cols-gt-md="1"
                md-row-height="30px" md-gutter="16px">

                <md-grid-tile>
                    <md-button href="/#/home" class="full-width text-left" aria-label="home" ng-click="toggleLeft()">
                        <md-icon md-svg-src="img/icons/ic_home_24px.svg"></md-icon>
                        Home</md-button>
                </md-grid-tile>

                <md-grid-tile>
                    <md-button href="/#/tower" class="full-width text-left" aria-label="raspi" ng-click="toggleLeft()">
                        <md-icon md-svg-src="img/icons/ic_developer_board_24px.svg"></md-icon>
                        Raspi</md-button>
                </md-grid-tile>

                <md-grid-tile>
                    <md-button href="/#/wifi" class="full-width text-left" aria-label="wifi" ng-click="toggleLeft()">
                        <md-icon md-svg-src="img/icons/ic_wifi_24px.svg"></md-icon>
                        Wi-Fi</md-button>
                </md-grid-tile>

                <md-grid-tile>
                    <md-button href="/#/temperature" class="full-width text-left" aria-label="temperature" ng-click="toggleLeft()">
                        <md-icon md-svg-src="img/icons/ic_whatshot_24px.svg"></md-icon>
                        Temperatura</md-button>
                </md-grid-tile>

            </md-grid-list>
        </md-content>
    </md-sidenav>

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>

            <h2 flex md-truncate>Zuhause</h2>

            <md-button class="md-primary md-raised" aria-label="More" href="/#/temperature">
                {{tempInterna}}
            </md-button>
        </div>
    </md-toolbar>
    <br />
    <md-content flex layout-padding ng-view>
    </md-content>
</body>
</html>

