<md-grid-list
    md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
    md-row-height="34px" md-gutter="20px">

    <md-grid-tile>
        <md-button class="md-primary md-raised full-width" ng-click="luzSuite()">
            <md-icon md-svg-src="img/icons/ic_lightbulb_outline_24px.svg"></md-icon>
            Suíte</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button class="md-primary md-raised full-width" ng-click="luzEscritorio()">
            <md-icon md-svg-src="img/icons/ic_lightbulb_outline_24px.svg"></md-icon>
            Escritório</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button class="md-primary md-raised full-width" ng-click="luzSala()">
            <md-icon md-svg-src="img/icons/ic_lightbulb_outline_24px.svg"></md-icon>
            Sala</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button class="md-primary md-raised full-width" ng-click="luzCozinha()">
            <md-icon md-svg-src="img/icons/ic_lightbulb_outline_24px.svg"></md-icon>
            Cozinha</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button class="md-primary md-raised full-width" ng-click="luzEscadaTeto()">
            <md-icon md-svg-src="img/icons/ic_lightbulb_outline_24px.svg"></md-icon>
            Escada Teto</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button class="md-primary md-raised full-width" ng-click="luzEscadaParede()">
            <md-icon md-svg-src="img/icons/ic_lightbulb_outline_24px.svg"></md-icon>
            Escada Parede</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button class="md-primary md-raised full-width" ng-click="luzFrente()">
            <md-icon md-svg-src="img/icons/ic_lightbulb_outline_24px.svg"></md-icon>
            Frente</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button class="md-warn md-raised full-width" ng-click="releOff()">
            <md-icon md-svg-src="img/icons/ic_warning_24px.svg"></md-icon>
            Rele Off</md-button>
    </md-grid-tile>

    <md-grid-tile>
        <md-button class="md-warn md-raised full-width" ng-click="releOn()">
            <md-icon md-svg-src="img/icons/ic_warning_24px.svg"></md-icon>
            Rele On</md-button>
    </md-grid-tile>

</md-grid-list>