<md-grid-list
    md-cols-xs="1" md-cols-sm="1" md-cols-md="3" md-cols-gt-md="3"
    md-row-height="6em" md-gutter="10px">

    <md-grid-tile class="back-blue white">
        <div layout="column" class="full-width md-padding">
            <h4 class="md-title">
                <md-icon md-svg-src="img/icons/ic_developer_board_24px.svg" class="white"></md-icon>
                <small class="white">Processador:</small> {{procPercent}}
            </h4>
            <md-progress-linear md-mode="determinate" ng-class="procType" value="{{procValue}}"></md-progress-linear>
        </div>
    </md-grid-tile>

    <md-grid-tile class="back-blue white">
        <div layout="column" class="full-width md-padding">
            <h4 class="md-title">
                <md-icon md-svg-src="img/icons/ic_memory_24px.svg" class="white"></md-icon>
                <small class="white">RAM:</small> {{ramPercent}}
            </h4>
            <md-progress-linear md-mode="determinate" ng-class="ramType" value="{{ramValue}}"></md-progress-linear>
        </div>
    </md-grid-tile>

    <md-grid-tile class="back-blue white">
        <div layout="column" class="full-width md-padding">
            <h4 class="md-title">
                <md-icon md-svg-src="img/icons/ic_sd_storage_24px.svg" class="white"></md-icon>
                <small class="white">Disco {{discPart}} :</small> {{discPercent}}
            </h4>
            <md-progress-linear md-mode="determinate" ng-class="discType" value="{{discValue}}"></md-progress-linear>
        </div>
    </md-grid-tile>

    <md-grid-tile class="back-blue white">
        <div layout="column" class="full-width md-padding">
            <h4 class="md-title">
                <md-icon md-svg-src="img/icons/ic_schedule_24px.svg" class="white"></md-icon>
                <small class="white">Uptime:</small> {{uptime}}
            </h4>
        </div>
    </md-grid-tile>

    <md-grid-tile class="back-blue white">
        <div layout="column" class="full-width md-padding">
            <h4 class="md-title">
                <md-icon md-svg-src="img/icons/ic_whatshot_24px.svg" class="white"></md-icon>
                <small class="white">Temperatura:</small> {{temp}}
            </h4>
        </div>
    </md-grid-tile>

    <md-grid-tile class="back-blue white">
        <div layout="column" class="full-width md-padding">
            <h4 class="md-title">
                <md-icon md-svg-src="img/icons/ic_flash_on_24px.svg" class="white"></md-icon>
                <small class="white">Voltagem:</small> {{volts}}
            </h4>
        </div>
    </md-grid-tile>

</md-grid-list>