<ol class="breadcrumb visible-sm visible-xs">
    <li class="active">Wi-Fi</li>
</ol>
<div ng-show="!full">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw dark-gray"></i>
    <span class="sr-only">Carregando...</span>
</div>
<div class="table-responsive" ng-show="full">
    <table class="table table-condensed">
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Nome</th>
            <th>Mac</th>
            <th>IP</th>
        </tr>
        <tr ng-repeat="(key, value) in full">
            <td>
                <span class="fa-stack fa-lg dark-gray" ng-click="device(value)">
                    <i class="fa fa-plus-circle fa-stack-2x"></i>
                </span>
            </td>
            <td>
                <span class="fa-stack fa-lg" ng-class="{'green': value.online, 'red': !value.online}">
                    <i class="fa fa-globe fa-stack-2x"></i>
                </span>
            </td>
            <td>
                <span class="fa-stack fa-lg gray" ng-hide="(value.idRule > -1)">
                    <i class="fa fa-ban fa-stack-2x"></i>
                    <i class="fa fa-pause fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg" ng-show="(value.idRule > -1)">
                    <i class="fa fa-pause-circle fa-stack-2x orange" ng-hide="value.paused" ng-click="pause(value)"></i>
                    <i class="fa fa-play-circle fa-stack-2x green" ng-show="value.paused" ng-click="play(value)"></i>
                </span>
            </td>
            <td>{{value.name}}</td>
            <td>{{value.mac}}</td>
            <td>{{value.ip}}</td>
        </tr>
    </table>
</div>
